html
	background-image: linear-gradient(to bottom, rgba(0,0,0,0.4) 0%,rgba(0,0,0,0) 50%,rgba(0,0,0,0) 100%), url(../img/main-bg.jpg)
body
	width: 960px // "all container" width
	margin: auto
	color: white
	// border: 1px solid red


@import "desktop/first-section/_first-section.sass"
@import "desktop/_background-gradients.sass"
