.main-offers
	display: flex
	justify-content: space-between
	height: 1086px

	&__column
		display: flex
		flex-direction: column
		justify-content: space-between
		&:nth-of-type(1)
			width: 670px
		&:nth-of-type(2)
			width: 495px


.main-offers
	&__offer
		


// first column
@import "mens-wear/_mens-wear.sass"
@import "search/_search.sass"
@import "crafts/_crafts.sass"

// second column
@import "womens-wear/_womens-wear.sass"
@import "baby-set/_baby-set.sass"
@import "jewelry/_jewelry.sass"
