body {
  font-family: 'Lato', sans-serif;
}

.bold {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 700;
}

.first-section {
  height: 943px;
  position: relative;
  color: white;
  background-size: cover;
  background: url(../img/main-bg.png) no-repeat center center;
}

.first-section__container {
  width: 970px;
  margin: auto;
  padding-top: 52px;
}

.first-section__container .menu-button {
  display: none;
}

.first-section__main-logo {
  position: absolute;
  top: 25px;
  left: 25px;
}

.first-section .transition__shape {
  width: 100%;
  height: 140px;
  position: absolute;
  bottom: 0;
  fill: white;
  -webkit-transform: scale(1, -1);
          transform: scale(1, -1);
}

.first-section .transition > .transparent-shape {
  fill-opacity: .5;
}

.first-section .transition > .opaque-shape {
  fill-opacity: 1;
}

.main-nav {
  font-size: 15px;
  font-weight: bold;
}

.main-nav__nav-link {
  min-height: 30px;
  display: inline-block;
  margin-right: 50px;
  text-shadow: 0px 0px .1px black;
}

.main-nav__nav-link a {
  color: white;
  text-decoration: none;
}

.main-nav__nav-link a:hover {
  text-decoration: underline;
}

.main-nav__dropdown {
  position: relative;
  display: inline-block;
  margin-right: 14px;
  text-align: center;
}

.main-nav__dropdown-content {
  top: 15px;
  min-width: 120px;
  visibility: hidden;
  opacity: 0;
  position: absolute;
  background-color: #f1f1f1;
  text-shadow: none;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  transition: linear .2s;
}

.main-nav__dropdown-content a:hover {
  background-color: #ddd;
}

.main-nav__dropdown-content a {
  color: rgba(0, 0, 0, 0.8);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.main-nav__dropdown-name {
  display: inline;
  position: relative;
}

.main-nav__dropdown-shape {
  display: inline-block;
  position: absolute;
  right: -9px;
  top: -3px;
}

.main-nav__nav-link:hover .main-nav__dropdown-content {
  top: 20px;
  visibility: visible;
  opacity: 1;
}

.first-section__main-text {
  margin-left: 10px;
  margin-top: 155px;
  text-shadow: 0px .5px 1px gray;
}

.first-section__main-text > header {
  font-size: 51px;
  line-height: 64px;
  font-weight: 200;
}

.first-section__main-text > p {
  width: 400px;
  font-size: 13px;
  line-height: 25px;
  letter-spacing: .6px;
}

.second-section {
  margin-top: -3px;
  padding-bottom: 84px;
  position: relative;
  background-color: white;
}

.second-section__container {
  width: 970px;
  margin: auto;
}

.second-section__sliders-divider {
  display: inline-block;
  vertical-align: -156px;
  width: 1px;
  height: 275px;
  margin: 0 36px;
  background-color: #eaeaea;
}

.first-slider, .second-slider {
  display: inline-block;
}

.first-slider {
  width: 275px;
  height: 320px;
  position: relative;
  vertical-align: -117px;
}

.first-slider .slick-slide {
  padding: 24.5px 0 24.5px 2px;
  font-size: 20px;
  font-style: italic;
  color: #fe992a;
  line-height: 28px;
}

.first-slider .slider-text {
  display: inline;
}

.first-slider .open-quotes-container, .first-slider .closing-quotes-container {
  display: inline;
  position: relative;
}

.first-slider .quotes {
  position: absolute;
  font-size: 45px;
}

.first-slider .open-quotes {
  top: -22px;
  left: -5px;
}

.first-slider .closing-quotes {
  top: 7px;
  right: -25px;
}

.slider__arrow {
  font-family: Lato;
  font-size: 20px;
  line-height: 29px;
  color: white;
  display: inline-block;
  position: absolute;
  width: 30px;
  height: 30px;
  background-color: #fe992a;
  right: 0;
  bottom: 0;
  text-align: center;
  vertical-align: 1px;
  cursor: pointer;
}

.slider__arrow--prev {
  right: 31px;
}

.slick-disabled {
  background-color: #ffba6e;
}

.second-slider {
  width: 590px;
  margin-left: 18px;
  vertical-align: -132px;
}

.second-slider .slide-header {
  margin-bottom: 20px;
  font-size: 24px;
  color: #fe992a;
}

.second-slider .slider-text {
  font-size: 14px;
  line-height: 30px;
  color: #737c85;
}

.footer {
  padding: 50px 0;
  background-color: #e77370;
  color: white;
}

.footer a {
  font-size: 14.5px;
  color: white;
  text-decoration: none;
}

.footer a:hover {
  text-decoration: underline;
}

.footer-container {
  width: 970px;
  display: flex;
  justify-content: space-between;
  margin: auto;
}

.footer-contacts {
  display: flex;
  flex-direction: column;
}

.footer-contacts .entries * {
  margin-bottom: 7px;
}

.web-address {
  margin-top: 30px;
}

.web-address > a {
  margin-top: 10px;
  display: block;
}

.additional-links {
  display: flex;
}

.additional-links .links-bar {
  display: flex;
  flex-direction: column;
  margin-left: 65px;
}

.additional-links .links-bar__header {
  margin-bottom: 3px;
}

.additional-links .links-bar * {
  height: 25px;
}

@media screen and (max-width: 1220px) {
  .first-section {
    height: 800px;
  }
  .first-section__container {
    width: 748px;
  }
  .main-nav {
    margin-right: 20px;
    display: flex;
    justify-content: flex-end;
  }
  .main-nav__nav-link {
    font-size: 18px;
    margin-right: 0;
    margin-left: 26px;
  }
  .first-section__main-text {
    margin-left: 36px;
  }
  .first-section__main-text > header {
    font-size: 55px;
  }
  .first-section__main-text > p {
    font-size: 18px;
  }
  .second-section {
    padding: 30px 0 50px 0;
  }
  .second-section__container {
    width: 748px;
    display: flex;
    justify-content: center;
  }
  .second-section__sliders-divider {
    height: 370px;
    margin: 0 20px;
  }
  .first-slider {
    width: 230px;
  }
  .second-slider {
    width: 440px;
  }
  .second-slider .slider-text {
    font-size: 17px;
  }
  .slider__arrow {
    bottom: -50px;
    z-index: 3;
  }
  .footer-container {
    box-sizing: border-box;
    width: 748px;
    padding: 0 20px;
  }
  .footer-contacts .entries * {
    margin-bottom: 15px;
  }
  .additional-links .links-bar {
    margin-left: 25px;
  }
  .additional-links .links-bar * {
    height: 30px;
  }
}

@media screen and (max-width: 767px) {
  .first-section__container {
    width: auto;
    max-width: 440px;
  }
  .first-section__container .menu-button {
    display: block;
    position: absolute;
    width: 36px;
    cursor: pointer;
    z-index: 11;
    transition: linear .2s;
  }
  .first-section__container .menu-button-container--green {
    position: fixed;
    width: 86px;
    height: 86px;
    top: 0;
    right: 0;
    background-color: #b2d4cf;
    z-index: 10;
  }
  .first-section__container .menu-button--open {
    height: 27px;
    top: 30px;
    right: 25px;
  }
  .first-section__container .menu-button--open > span {
    width: 30px;
    height: 5px;
    position: absolute;
    top: 11px;
    left: 3px;
    background-color: white;
  }
  .first-section__container .menu-button--open:before {
    content: '';
    width: 30px;
    height: 5px;
    position: absolute;
    top: 0;
    left: 3px;
    background-color: white;
  }
  .first-section__container .menu-button--open:after {
    content: '';
    width: 30px;
    height: 5px;
    position: absolute;
    bottom: 0;
    left: 3px;
    background-color: white;
  }
  .first-section__container .menu-button--close {
    height: 36px;
    top: 25px;
    right: 25px;
  }
  .first-section__container .menu-button--close:before {
    content: '';
    width: 36px;
    height: 6px;
    position: absolute;
    top: 15px;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    background-color: white;
  }
  .first-section__container .menu-button--close:after {
    content: '';
    width: 36px;
    height: 6px;
    position: absolute;
    top: 15px;
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    background-color: white;
  }
  .main-nav {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    margin-right: 0;
    margin-right: -100vw;
    transition: linear .2s;
    box-sizing: border-box;
    padding: 25px 0;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    background-color: #b2d4cf;
    z-index: 10;
  }
  .main-nav__nav-link {
    min-height: 60px;
    display: flex;
    align-items: center;
    height: auto;
    margin-left: 0;
  }
  .main-nav__dropdown {
    width: 100%;
    margin-right: 0;
  }
  .main-nav__dropdown-content {
    position: relative;
  }
  .main-nav__dropdown-content * {
    position: absolute;
    display: none;
  }
  .main-nav__dropdown-content a {
    display: none;
  }
  .main-nav__nav-link:hover .main-nav__dropdown-content {
    margin: -15px 0 25px 8px;
  }
  .main-nav__nav-link:hover .main-nav__dropdown-content * {
    margin-top: -10px;
    display: block;
    position: initial;
  }
  .first-section__main-text {
    margin-left: 0;
    margin-top: 106px;
    padding: 0 20px;
  }
  .first-section__main-text > p {
    width: auto;
  }
  .second-section {
    padding-top: 0;
    padding-bottom: 20px;
  }
  .second-section__container {
    width: auto;
    flex-direction: column;
    align-items: center;
  }
  .second-section__sliders-divider {
    display: none;
  }
  .first-slider {
    width: auto;
    max-width: 90%;
    height: 280px;
  }
  .second-slider {
    width: auto;
    max-width: 90%;
    margin-left: 0;
    margin-top: 40px;
  }
  .slider__arrow {
    bottom: -20px;
  }
  .footer {
    padding: 40px 0 0 0;
  }
  .footer-container {
    flex-wrap: wrap;
    width: auto;
  }
  .footer-contacts {
    margin-left: 15px;
  }
  .footer-contacts .web-address {
    margin-top: 10px;
  }
  .additional-links {
    margin-top: 30px;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .additional-links .links-bar {
    margin: 0 15px 30px 15px;
    width: 100px;
  }
}
