html {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0) 100%), url(../img/main-bg.jpg);
}

body {
  width: 960px;
  margin: auto;
  color: white;
}

.first-section {
  height: 1000px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 76px 0 25px 0;
}

.first-section__header {
  width: 245px;
  background-image: url(../img/first-section/logo/logo.png);
  background-repeat: no-repeat;
  background-size: contain;
}

.first-section__header > h1 {
  opacity: 0;
  visibility: hidden;
}

.person-cells {
  margin-top: 70px;
  display: flex;
  align-items: center;
  position: relative;
}

.person-cells__cell {
  width: 336px;
  height: 336px;
  position: relative;
  margin-top: -10px;
  background-image: linear-gradient(to bottom, #747474 0%, #8e8e8e 100%);
  border-radius: 50%;
  border: 1px solid grey;
  z-index: 11;
  background-repeat: no-repeat;
}

.person-cells__cell:after {
  border-radius: 50%;
  content: '';
  width: 195px;
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  box-shadow: 0px 15px 40px 3px black;
  z-index: -1;
}

.person-cells__cell--main {
  margin: 0 -117px;
  width: 381px;
  height: 381px;
  z-index: 12;
}

.person-cells__background-cell {
  width: 472px;
  height: 500px;
  position: absolute;
  top: -57px;
  left: -298px;
  border-radius: 50%;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.4) 25%, white 40%, rgba(255, 255, 255, 0) 70%);
}

.person-cells--first-person {
  background-position: 53% 6%;
  background-image: url(../img/first-section/person/James-Adam.jpg);
}

.person-cells--second-person {
  background-position: 104% 138%;
  background-image: url(../img/first-section/person/Natali-Grand.png), linear-gradient(to bottom, #747474 0%, #8e8e8e 100%);
}

.person-cells--third-person {
  background-position: 1% 0%;
  background-image: url(../img/first-section/person/Judy-Miles.jpg);
}

.first-section {
  position: relative;
}

.first-section:before {
  content: '';
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0) 100%);
  z-index: -1;
}
