.text-section
	&__row
		padding: 75px 50px 70px 50px
		display: flex
		position: relative
		align-items: center
		justify-content: space-between
	&__avatar
		display: inline-block
		width: 214px
		height: 214px
		position: relative
		border-radius: 50%
		background-color: rgba(white, 0.2)
		&--rose
			&:after
				background-image: url(../img/common/rose.png)
				background-position: -1px 11px
				background-color: #fff
		&--lina
			&:after
				background-image: url(../img/common/lina.png)
				background-position: -8px -1px
		&:after
			content: ''
			width: 169px
			height: 169px
			position: absolute
			top: 50%
			left: 50%
			transform: translate(-50%, -50%)
			border-radius: 50%
			background-repeat: no-repeat
	&__text
		width: 75%
		display: inline-block
		& h3
			display: inline-block
			margin: 0
			font-size: 22px
			font-style: italic
			font-weight: 400
		& p
			display: inline-block
			margin: 10px 0 0 0
			font-size: 14px
			line-height: 26px
