.first-section
	height: 1000px
	display: flex
	flex-direction: column
	align-items: center
	padding: 76px 0 25px 0
	&__header
		width: 245px
		background-image: url(../img/first-section/logo/logo.png)
		background-repeat: no-repeat
		background-size: contain
		& > h1
			opacity: 0
			visibility: hidden


@import "_person-cells.sass"
