.person-cells
	display: flex
	align-items: center
	position: relative
	&__cell
		width: 336px
		height: 336px
		position: relative
		margin-top: -10px
		background-image: linear-gradient(to bottom, #747474 0%, #8e8e8e 100%)
		border-radius: 50%
		border: 1px solid grey
		z-index: 11
		background-repeat: no-repeat
		&:before //bg white circle border
			content: ''
			position: absolute
			top: -35px
			left: -35px
			width: 406px
			height: 406px
			opacity: .1
			border-radius: 50%
			background-image: linear-gradient(to bottom, rgba(255,255,255,0.7) 0%, rgba(255,255,255,0) 100%)
		&:after //shadow
			content: ''
			width: 195px
			position: absolute
			bottom: 0
			left: 50%
			transform: translateX(-50%)
			box-shadow: 0px 15px 40px 3px black
			z-index: -1
		&--main
			margin: 0 -117px
			width: 381px
			height: 381px
			z-index: 12
			&:before
				display: none
	&__background-cell
		width: 472px
		height: 500px
		position: absolute
		top: -57px
		left: -298px
		border-radius: 50%
		transform: translateX(100%)
		background-image: linear-gradient(to bottom, rgba(255,255,255,.4) 25%,rgba(255,255,255,0) 95%)

.person-cells
	&--first-person
		background-position: 53% 6%
		background-image: url(../img/first-section/person/James-Adam.jpg)
	&--second-person
		background-position: 104% 138%
		background-image: url(../img/first-section/person/Natali-Grand.png), linear-gradient(to bottom, #747474 0%, #8e8e8e 100%) // transparent picture + gradient. workaround
	&--third-person
		background-position: 1% 0%
		background-image: url(../img/first-section/person/Judy-Miles.jpg)
